.ui.negative.message.mobile {
  display: none;
}

@media only screen and (max-width: 510px) {
  .ui.negative.message.mobile {
    display: block;
  }
  .content {
    display: none;
  }
}

.ui.button {
  margin-top: 15px;
}
.inactiveField {
  cursor: pointer;
}

/*probably not ideal way to handle this*/
.hidden {
  visibility: hidden;
}

.ui.inverted.vertical.masthead.center.aligned.segment.teal {
  padding-bottom: 0px;
  margin-bottom: 30px;
}

/* general font size styling */
h1 {
  font-size: 48px !important;
}

h2 {
  font-size: 36px !important;
}

h3 {
  font-size: 24px !important;
}

h4 {
  font-size: 20px !important;
}

h5 {
  font-size: 16px !important;
}

/* add feed progress tabs styling */
nav {
  padding: 0px;
  margin: 0px;
  background: #134045 ;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline-block;
  padding: 10px 15px 5px 15px;
  margin: 0px 20px;
  color: lightgray;
  letter-spacing: 2px;
  border-bottom: solid 3px gray;
}

nav ul li.active {
  color: white;
  font-weight: bold;
  border-bottom: solid 3px white;
}

/* styling for more-info page */
.ui.form.field {
  margin-top: 0.5em;
}

.field .ui.button.active {
  background: #508478;
  color: white;
}

.divider.column {
  position: relative;
  padding: 25px;
}

/* styling for review page */
.edit.ui.button {
  margin: 0px;
}

.review-nav .ui.button {
  margin: 15px 0px;
}

.field.label {
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #134045;
  text-transform: uppercase;
}

.info.value {
  padding: 10px 0px;
}

.ui.fitted.divider {
  margin: 0px !important;
}

.ui.fitted.divider:last-child {
  display: none;
}
