<div class="ui inverted vertical masthead center aligned segment teal">
	<div class="ui text container">
		<h1 class="ui inverted header">Mobility-on-Demand Sandbox</h1>
		<h2>subtitle text here</h2>
	</div>
	<div class="ui vertical stripe segment"></div>
  <nav class="progress">
    <ul>
      {{#link-to 'intro' tagName="li" disabled=true}}
        Feed
      {{/link-to}}
      {{#link-to 'data' tagName="li" disabled=true}}
        More Info
      {{/link-to}}
      {{#link-to 'mapping' tagName="li" disabled=true}}
        Column Mapping
      {{/link-to}}
      {{#link-to 'contact' tagName="li" disabled=true}}
        Contact Info
      {{/link-to}}
      {{#link-to 'review' tagName="li" disabled=true}}
        Review
      {{/link-to}}
    </ul>
  </nav>
</div>
{{outlet}}
