<div class="ui inverted vertical masthead center aligned segment teal">
	<div class="ui text container">
  	<h1 class="ui inverted header">Mobility-on-Demand Sandbox</h1>
  	<h2>subtitle text here</h2>
  </div>
  <div class="ui vertical stripe segment"></div>
</div>
{{outlet}}
