<div class="ui text container center aligned">
	<h3 class="first headroom">Welcome!</h3>
	<p>
		Some introduction info can go here.
	</p>
	{{nav-buttons sendChangeRoute="changeRoute" next="data"}}
</div>