<div class="ui text container center aligned">
  <div class="ui icon negative mobile message">
    <i class="warning icon"></i>
    <div class="content">
      <div class="header"> It appears you are on a mobile device. </div>
      <p> This web application works best on a desktop. Please continue on a desktop device </p>
    </div>
  </div>
  <div class="intro">
    <h3 class="first headroom">Welcome!</h3>
    <p>
      Provide link to data or upload data. (add information about accepted formats)
    </p>
    <div class="form-content">
      <div class="ui url labeled input">
        <div class="ui label">
          URL
        </div>
        <input type="text" placeholder="URL for hosted data" onChange={{action "setURL"}}>
      </div>
      <div class="ui horizontal divider">
        Or
      </div>
      <div>
        <label for="uploadfile" class="ui upload icon compact button">
          <i class="file icon"></i>
          Choose file to upload
        </label>
        <input type="file" id="uploadfile" style="display:none" onChange={{action "uploadFile"}}>{{fileName}}
      </div>
    </div>
    {{nav-buttons sendChangeRoute="changeRoute" next="more-info"}}
  </div>
</div>
