<div class="ui text container">
	<h3 class="first headroom">Add license</h3>
	<p>
		Here's where you can add license information.
	</p>
	{{nav-buttons sendChangeRoute="changeRoute" back="source" next="mapping"}}
</div>