<div class="ui text container">
	<h3 class="first headroom">Column mapping</h3>
	<p>
		Here's where you can verify data column mapping.
	</p>
	{{nav-buttons sendChangeRoute="changeRoute" back="license" next="contact"}}
</div>